/* Start of CSS Document */
.category{
  margin-top: 10px;
}

.items {
  padding: 0px !important;
}

.price{
  margin-top: 15px !important;
}

.recipe{
  font-size: 20;
  font-family: arial;
}

#previewImage{
  font-size: 30;
  font-family: arial;
}
